# Исключаем временные файлы и папки
*.iml
.gradle/
local.properties
.DS_Store
/build/
.cxx/
captures/
.externalNativeBuild/

# Исключаем `.idea`, кроме важных файлов
.idea/*
!.idea/misc.xml
!.idea/workspace.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/libraries

# Исключаем кэш и временные файлы IDE
/.idea/caches
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Исключаем Gradle
/gradle/
